@using kursa4.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
<div class="row mt-4">
    <!-- Sidebar -->
    <div class="col-md-3">
        <div class="card p-3 shadow-sm">
            <h5>Фильтры</h5>
            <form method="get" action="">
                <div class="mb-3">
                    <label class="form-label">Категория</label>
                    <select class="form-select" name="category">
                        <option value="">Все</option>
                        @{
                            var selectedCategory = Context.Request.Query["category"].ToString();
                            foreach (var category in (IEnumerable<kursa4.Models.Category>)ViewBag.Categories)
                            {
                                var selectedAttr = selectedCategory == category.Name ? "selected" : "";
                                @:<option value="@category.Name" @selectedAttr>@category.Name</option>
                            }
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Производитель</label>
                    <select class="form-select" name="brand">
                        <option value="">Все</option>
                        @{
                            var selectedBrand = Context.Request.Query["brand"].ToString();
                            foreach (var brand in (IEnumerable<kursa4.Models.Brand>)ViewBag.Brands)
                            {
                                var selectedAttr = selectedBrand == brand.Name ? "selected" : "";
                                @:<option value="@brand.Name" @selectedAttr>@brand.Name</option>
                            }
                        }
                    </select>
                </div>

                @{
                    var priceFrom = Context.Request.Query["priceFrom"].ToString();
                    var priceTo = Context.Request.Query["priceTo"].ToString();
                }
                <div class="mb-3">
                    <label class="form-label">Цена от</label>
                    <input type="number" class="form-control" name="priceFrom" value="@priceFrom" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Цена до</label>
                    <input type="number" class="form-control" name="priceTo" value="@priceTo" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Процессор</label>
                    <select class="form-select" name="CPU">
                        <option value="">Все</option>
                        @{
                            var selectedCpu = Context.Request.Query["cpu"].ToString();
                            foreach (var cpu in (IEnumerable<kursa4.Models.CPU>)ViewBag.CPUs)
                            {
                                var selectedAttr = selectedCpu == cpu.Name ? "selected" : "";
                                @:<option value="@cpu.Name" @selectedAttr>@cpu.Name</option>
                            }
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Видеокарта</label>
                    <select class="form-select" name="GPU">
                        <option value="">Все</option>
                        @{
                            var selectedGpu = Context.Request.Query["gpu"].ToString();
                            foreach (var gpu in (IEnumerable<kursa4.Models.GPU>)ViewBag.GPUs)
                            {
                                var selectedAttr = selectedGpu == gpu.Name ? "selected" : "";
                                @:<option value="@gpu.Name" @selectedAttr>@gpu.Name</option>
                            }
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Тип оперативной памяти</label>
                    <select class="form-select" name="ramType">
                        <option value="">Все</option>
                        @{
                            var selectedRamType = Context.Request.Query["ramType"].ToString();
                            var ramTypes = ((IEnumerable<kursa4.Models.RAM>)ViewBag.RAMs)
                                .Select(r => r.Type)
                                .Distinct();

                            foreach (var type in ramTypes)
                            {
                                if (selectedRamType == type)
                                {
                                    <option value="@type" selected>@type</option>
                                }
                                else
                                {
                                    <option value="@type">@type</option>
                                }
                            }
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Размер оперативной памяти</label>
                    <select class="form-select" name="ramSize">
                        <option value="">Все</option>
                        @{
                            var selectedRamSize = Context.Request.Query["ramSize"].ToString();
                            var ramSizes = ((IEnumerable<kursa4.Models.RAM>)ViewBag.RAMs)
                                .Select(r => r.SizeGb)
                                .Distinct()
                                .OrderBy(s => s);

                            foreach (var size in ramSizes)
                            {
                                if (selectedRamSize == size.ToString())
                                {
                                    <option value="@size" selected>@size ГБ</option>
                                }
                                else
                                {
                                    <option value="@size">@size ГБ</option>
                                }
                            }
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Тип хранилища</label>
                    <select class="form-select" name="storageType">
                        <option value="">Все</option>
                        @{
                            var selectedStorageType = Context.Request.Query["storageType"].ToString();
                            var storageTypes = ((IEnumerable<kursa4.Models.Storage>)ViewBag.Storages)
                                .Select(s => s.Type)
                                .Distinct();
                            foreach (var type in storageTypes)
                            {
                                if (selectedStorageType == type)
                                {
                                    <option value="@type" selected>@type</option>
                                }
                                else
                                {
                                    <option value="@type">@type</option>
                                }
                            }
                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Размер хранилища</label>
                    <select class="form-select" name="storageSize">
                        <option value="">Все</option>
                        @{
                            var selectedStorageSize = Context.Request.Query["storageSize"].ToString();
                            var storageSizes = ((IEnumerable<kursa4.Models.Storage>)ViewBag.Storages)
                                .Select(s => s.SizeGb)
                                .Distinct()
                                .OrderBy(s => s);

                            foreach (var size in storageSizes)
                            {
                                if (selectedStorageSize == size.ToString())
                                {
                                    <option value="@size" selected>@size ГБ</option>
                                }
                                else
                                {
                                    <option value="@size">@size ГБ</option>
                                }
                            }
                        }
                    </select>
                </div>

                @{
                    var sortBy = Context.Request.Query["sortBy"].ToString();
                }

                <div class="mb-3">
                    <label class="form-label">Сортировать по</label>
                    <select class="form-select" name="sortBy">
                        @{
                            var options = new Dictionary<string, string>
                            {
                                { "allLaptops", "Все" },
                                { "priceAsc", "Цена ↑" },
                                { "priceDesc", "Цена ↓" }
                            };

                            foreach (var option in options)
                            {
                                var selectedAttr = sortBy == option.Key ? "selected" : "";
                                @:<option value="@option.Key" @selectedAttr>@option.Value</option>
                            }
                        }
                    </select>
                </div>

                <button type="submit" class="btn btn-primary w-100">Применить</button>
            </form>
        </div>
    </div>

    <!-- Products -->
    <div class="col-md-9">
        <h2 class="mb-4">Все ноутбуки</h2>

        @foreach (var laptop in Model.allLaptops)
        {
            <div class="card mb-3 shadow-sm">
                <div class="row g-0">
                    <!-- Изображение -->
                    <div class="col-md-4">
                        <img src="@laptop.ImageUrl" class="img-fluid rounded-start" alt="@laptop.Model">
                    </div>

                    <!-- Описание -->
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@($"Ноутбук {laptop.Category?.Name} {laptop.Brand?.Name} {laptop.Model}")</h5>
                            <p class="card-text mb-1">
                                <strong>Экран: </strong>@($"{laptop.ScreenSize}'', {laptop.Resolution}, {laptop.RefreshRate} Гц")
                            </p>
                            <p class="card-text mb-1">
                                <strong>Процессор: </strong>@laptop.CPU?.Name
                            </p>
                            <p class="card-text mb-1">
                                <strong>ОЗУ: </strong>@($"{laptop.RAM?.SizeGb} Гб {laptop.RAM.Type}")
                            </p>
                            <p class="card-text mb-1">
                                <strong>Накопитель: </strong>@($"{laptop.Storage.SizeGb} Гб {laptop.Storage.Type}")
                            </p>
                            <p class="card-text mb-1">
                                <strong>Видеокарта: </strong>@laptop.GPU?.Name
                            </p>
                            <p class="card-text text-muted">
                                @laptop.Description
                            </p>
                            <p class="card-text mb-1">
                                <strong>Цена:</strong> @laptop.Price.ToString("c")
                            </p>
                            <a asp-controller="Laptops" asp-action="Details" asp-route-id="@laptop.Id" class="btn btn-outline-primary">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
